
%html
	%head
		%meta{charset: 'utf-8'}
		%title Sleder
		%link{rel: 'stylesheet', href: 'style/bootstrap.css'}
		%link{rel: 'stylesheet', href: 'style/style.css'}
	%body
		.cont
			.bigblock 1
			.minblock 2
			.minblock 3
			.minblock.hidden-xs.hidden-sm 2
			.minblock.hidden-xs.hidden-sm 4
			.minblock.hidden-xs.hidden-sm.hidden-md 5
			.minblock.hidden-xs.hidden-sm.hidden-md 6